// Global

$primary: #22eaca;

:root {
  --highlight: #d38f42;
  --special-rgb: #{hexToRGB($primary)};
}

::placeholder {
  color: var(--special-rgb);
}

::placeholder {
  color: red;
}

html.foo {
  .bar:not(.baz) {
    color: var(--highlight);
  }
}
